// Colors
$color-white: #fff;
$color-base: #262626;
$color-footer: #b9b9b9;

// Fonts
$font-lato: 'Lato', sans-serif;
$font-raleway: 'Raleway', sans-serif;
$font-pacifico: 'Pacifico', cursive;

// Path
$path-img: '../img/'