h2 {
    font-family: $font-raleway;
    font-size: 90px;
    font-weight: 700;
    color: $color-base;
}

p {
    font-family: $font-raleway;
    font-weight: 300;
    font-size: 17px;
    line-height: 25px;
    color: $color-base;
}