.scroll-down-btn span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 40px;
  margin-left: -15px;
  border: 2px solid #000;
  border-radius: 50px;
  box-sizing: border-box;
}

.scroll-down-btn span::before {
  position: absolute;
  top: 5px;
  left: 50%;
  content: '';
  width: 2px;
  height: 8px;
  margin-left: -1px;
  background-color: #000;
  border-radius: 45%;
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 18px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 18px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}